# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Builds
bin/
build/
out/
target/

# IDE
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# OneDrive metadata
*.lnk
~$*
